<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFID_Reader_extended.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RFID_Reader_simple.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RFID_Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RFID_Reader_extended.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="RefreshTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </RFID_Reader_extended.Properties.Settings>
        <RFID_Reader_simple.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="RefreshTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
        </RFID_Reader_simple.Properties.Settings>
        <RFID_Reader.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="ComSpeed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComFlowControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceiveTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SendTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
        </RFID_Reader.Properties.Settings>
    </userSettings>
</configuration>
